html {   
    background-image: url('../img/pattern.png');
    background-attachment: fixed;  
}

._1{
    padding: 1em;    
}
._2{
    font-weight: bold;
    color: #000;
    font-size: medium;    
}
._3{
    margin-top: 5px;
    padding: 5px;
}
._4{
    font-size: small;
}
._6:hover{
    border:1px solid #028D8D;        
    cursor: hand; 
    cursor: pointer;    
}
._7{
    margin-left: 1em; margin-right: 1em;
}